<% if user.errors.any? %>
  <% if user.errors.count==1 %>
    <%= user.errors.count %>&nbsp;error prohibited this user from being saved:
  <% else %>
    <%= user.errors.count %>&nbsp;errors prohibited this user from being saved:
  <% end %>
  <ul>
    <% user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>